<a href="https://colab.research.google.com/github/Okan2006-cmd/me_repo/blob/main/Ridwon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# sample list of number
numbers = [9, 18, 27, 36, 45, 5, 50]



# List comprehension with lambda expression to double items in the range 1 - 50
# Changed 'number' to 'numbers' to iterate over the correct list
doubled_number = [(lambda x:x * 2)(x) for x in numbers if 1 <= x <= 50]

# output the result
print(doubled_number)

[18, 36, 54, 72, 90, 10, 100]